.button{
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}


.nav{
  background-color: #69bed8;
  color: rgb(0, 0, 0);
}

#ul .item{

  border-radius: 20px ;
  background-color: white;
  cursor: Hand;
  color:black;

}

#ul li a{
  color: rgb(0, 0, 0);
}


.nav .div .a{
  color: white;
  font-size: 20rem;
  font-weight: bold;
  font-family: 'Times New Roman', sans-serif;
}

.section{
  background-color: #69bed8;
  color: white;
}


.title-personas {
  color: rgb(228, 138, 32);
}

#mensaje-personas{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
}

#text-final{

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48vh;
  font-size: 5vh;
  text-align: center;
  color:black;
}

#btnInscribete{
  display: flex;
  align-items: center;
  justify-content: center;


}

#btnInscribete a{

  background-color: rgb(228, 138, 32);
  font-size: 4vh;
  color: white;
  box-shadow: 5px 10px 0px 0px rgb(255, 255, 255);
  border-radius: 20px;
}

#footer{
  background-color: #69bed8;
  margin-bottom: -200px;
}

.div-pane{
  background-color: #69bed8;
}

Main{
  background-color: #ffffff;
}
