<div class="container-fluid" id="div-background">

  <h2 class="text-center">Solicitar un dia libre</h2>

  <div class="row form">

    <div class="col-6">

      <div class="col-auto">
        <h4 class="fw-light">Selecciona la fecha</h4>
      </div>

      <div class="col-auto">
        <input type="date">
      </div>

    </div>

    <div class="col-6">
      <div class="col-auto">
        <h4 class="fw-light">Motivo</h4>
      </div>

      <div class="col-auto">
        <textarea>

        </textarea>
      </div>
    </div>


  </div>
  <button type="button" class="btn btn-primary">Solicitar</button>
</div>
