<div class="col-auto text-dark" id="div-background">
  <h3 class="fw-bold text-center">Pqr 1</h3>
  <div class="row">

    <div class="col-4">
      <h5 class="fw-light">Paciente</h5>
    </div>
    <div class="col-8">
      <input class="input" disabled placeholder="Escribe aquí..." value="Juan Esteban Osma">
    </div>

  </div>

  <div class="row">

    <div class="col-4">
      <h5 class="fw-light">Paciente</h5>
    </div>
    <div class="col-8">
      <input class="input" disabled placeholder="Escribe aquí..." value="Benito Antonio Martinez Ocasio">
    </div>

  </div>
  <h6 class="text-dark text-center">Calificacion</h6>
  <div class="row stars" >

    <div class="col-auto">
      <i class="bi bi-star"></i>
    </div>
    <div class="col-auto">
      <i class="bi bi-star"></i>
    </div>
    <div class="col-auto">
      <i class="bi bi-star"></i>
    </div>
    <div class="col-auto">
      <i class="bi bi-star"></i>
    </div>
    <div class="col-auto">
      <i class="bi bi-star"></i>
    </div>
  </div>

</div>
