<div class="div-form">

  <h1 class="text-center">Registrate</h1>

  <form class="form">

    <div class="row">
      <input class="input-item" type="text" placeholder="Nombre">
    </div>
    <div class="row">
      <input class="input-item" type="text" placeholder="Edad">
    </div>
    <div class="row">
      <input class="align-content-around input-item" type="date" placeholder="Fecha de nacimiento">
    </div>
    <div class="row">
      <input class="input-item" type="text" placeholder="Email">
    </div>
    <div class="row">
      <input class="input-item" type="password" placeholder="Contraseña">
    </div>
    <div class="row">
      <input class="input-item" type="text" placeholder="Ciudad de residencia">
    </div>
    <div class="row">
      <input class="input-item" type="text" placeholder="Télefono">
    </div>

  </form>
  <button class="btn">  Continuar </button>
</div>
