
.form div{

  margin-top: 15px;

}

.form .row input {

  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;

}

.form .row input::placeholder{
  color: rgb(183, 183, 183);
}

.form .row input{

  border-bottom: rgb(255, 255, 255);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-radius: 5px;

}


.form {
  margin-top: 100px;
  margin-left: 30rem;
  margin-right: 8rem;
}




.btn{

  margin-top: 150px;
  background-color: rgb(228, 138, 32);
  font-size: 2vh;
  color: white;
  box-shadow: 5px 10px 0 0 rgb(255, 255, 255);
  border-radius: 20px;
  margin-left: 45rem;

}

.btnInicio{

  background-color: #5e5e5e;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: Hand;

}

.div-form{

  margin-top: 1rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

h1{

  margin-left: 300px;

}

.input-item{
  margin-top: 20px;
}

label{
  font-size: 15px;
  font-weight: bold;
}