<div id="div-background">

  <h2 class="text-dark text-center">Resumen de la consulta</h2>
  <div class="form">

    <div class="row">

      <div class="col-2">
        <h3>Notas médicas</h3>
      </div>
      <div class="col-10">
        <textarea placeholder="Escriba aquí las notas médicas de la consulta"></textarea>
      </div>

    </div>

    <div class="row">

      <div class="col-2">
        <h3>Diagnóstico</h3>
      </div>
      <div class="col-10">
        <textarea placeholder="Escriba aquí el diagnóstico del paciente"></textarea>
      </div>

    </div>
    <div class="row">

      <div class="col-2">
        <h3>Sintomas</h3>
      </div>
      <div class="col-10">
        <textarea placeholder="Escriba aquí los sintomas del paciente"></textarea>
      </div>

    </div>

    <div class="row">

      <div class="col-2">
        <h3>Tratamiento</h3>
      </div>
      <div class="col-10">
        <textarea placeholder="Escriba aquí el tratamiento para el paciente"></textarea>
      </div>

    </div>


  </div>
</div>
