<div id="div-background">

  <h2 class="text-dark text-center">Resumen de la consulta</h2>
  <form class="form" [formGroup]="form">

    <div class="row">

      <div class="col-2">
        <h3>Notas médicas</h3>
      </div>
      <div class="col-10">
        <textarea placeholder="Escriba aquí las notas médicas de la consulta" formControlName="notasMedicas"></textarea>
      </div>

    </div>

    <div class="row">

      <div class="col-2">
        <h3>Diagnóstico</h3>
      </div>
      <div class="col-10">
        <textarea placeholder="Escriba aquí el diagnóstico del paciente" formControlName="diagnostico"></textarea>
      </div>

    </div>
    <div class="row">

      <div class="col-2">
        <h3>Sintomas</h3>
      </div>
      <div class="col-10">
        <textarea placeholder="Escriba aquí los sintomas del paciente" formControlName="sintomas"></textarea>
      </div>

    </div>

    <div class="row">

      <div class="col-2">
        <h3>Tratamiento</h3>
      </div>
      <div class="col-10">
        <textarea placeholder="Escriba aquí el tratamiento para el paciente" formControlName="tratamiento"></textarea>
      </div>

    </div>
  </form>
    <div class="row justify-content-center" id="buttons">

      <div class="col-6 text-center">
        <button class="btn btn-danger" (click)="cancelarConsulta()"> Cancelar consulta</button>
      </div>
  
      <div class="col-6 text-center" >
        <button class="btn btn-success" (click)="finalizarConsulta()"> Finalizar consulta</button>
      </div>
  
    </div>

  
</div>
