<div class="row">
  <div class="col-2">
    <img src="./assets/pqrs/circular.png" alt="elipse">
  </div>
  <div class="col-10">
    <div class="row">

      <div class="row">
        <div class="col-6">
          <h3 class="text fw-semibold">Paciente</h3>
        </div>
        <div class="col-6">
          <h3 class="text fw-light">Juan Esteban Parra Parra</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <h3 class="text fw-semibold">Fecha</h3>
        </div>
        <div class="col-6">
          <h3 class="text fw-light">2 de Septiembre de 2023</h3>
        </div>
      </div>

    </div>
  </div>

</div>
