<div id="div-background">
  <app-navbar-component></app-navbar-component>
  <div class="row">
    <div class="col-1">
      <app-lateral-bar></app-lateral-bar>
    </div>

    <div class="col-2">
      <div class="outer-form-container">
        <h2> Editar datos </h2>


        <div class="input-container">
          <h4>Nombre </h4>
          <input class="input-item"  required type="text" placeholder="Nombre">
        </div>

        <div class="input-container">
          <h4>Nombre </h4>
          <input class="input-item" required type="text" placeholder="Nombre">
        </div>

        <div class="input-container">
          <h4>Nombre </h4>
          <input class="input-item" required type="text" placeholder="Nombre">
        </div>

        <div class="input-container">
          <h4>Nombre </h4>
          <input class="input-item" required type="text" placeholder="Nombre">
        </div>

      </div>
    </div>
  </div>
</div>
