<nav class="nav navbar navbar-expand-lg ">
  <div class="container-fluid">

    <a class="navbar-brand d-flex align-items-center text-light">
      <img src="./assets/index/logoEvovital.svg" alt="Logo" width="30" height="24">
      Evovital
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="ul" class="navbar-nav ms-auto mb-2 mb-lg-0 ">
        <li class="item nav-item button-nav d-inline">
          <a class="nav-link text-dark" id="cerrar-sesion" (click)="cerrarSesion()">Cerrar sesión</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
