<div id="div-background">

  <app-navbar-component></app-navbar-component>
  <h1 class="text-center text-light">Paciente</h1>
  <div class="row">

    <div class="col-1">
      <app-lateral-bar></app-lateral-bar>
    </div>
    <div class="col-11">
      <div class="row">

        <div class="row">
           <app-info-paciente-paciente></app-info-paciente-paciente>
        </div>

        <div class="row">
          <app-pqrs-paciente></app-pqrs-paciente>
        </div>

      </div>
    </div>

  </div>

</div>
