<div id="div-background">

  <app-navbar-component></app-navbar-component>
  <h1 class="text-light text-center">Tus citas actuales</h1>
  <div class="row panes">

    <div class="col-1">
      <app-lateral-bar></app-lateral-bar>
    </div>
    <div class="col-11">
      <div class="row">

        <div class="col-6">
          <app-calendario-citas></app-calendario-citas>
        </div>
        <div class="col-6">
          <app-lista-citas></app-lista-citas>
        </div>

      </div>
    </div>

  </div>



</div>
