<div class="row" id="item">

  <div class="col-lg-3 col-md-3">
    {{index}}
  </div>
  <div class="col-lg-3 col-md-3">
    {{cita.fechaYHoraAtencion | date: 'dd/MM/yyyy HH:mm'}}
  </div>
  <div class="col-lg-3 col-md-3">
    {{cita.paciente.nombre}}
  </div>
  <div class="col-lg-3 col-md-3">
    <div class="row position-relative">
      <button class="col-lg-6 col-md-6 col-sm-6 btn btn-success">Atender</button>
      <button class="col-lg-6 col-md-6 col-sm-6 btn btn-danger">Cancelar</button>
    </div>
  </div>

</div>