<div class="background text-light" >

  <nav class="nav navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center text-light">
        <img src="/assets/index/logoEvovital.svg" alt="Logo" width="30" height="24">
        Evovital
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="ul" class="navbar-nav ms-auto mb-2 mb-lg-0 ">
          <li class=" sobre-nosotros nav-item button-nav">
            <img src="./assets/admin/logoMedicos.png" alt="Gestionar médicos" width="30" height="30">
          </li>
          <li class=" sobre-nosotros nav-item button-nav">
            <img src="./assets/admin/citas_proximas.png" alt="Gestionar médicos" width="30" height="30">
          </li>
          <li class="btnSalir item nav-item button-nav d-inline">
            <a class="nav-link">Salir</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>


  <h1 class="text-center">Panel de control del médicos</h1>
  <div class="vh-100 container ">
    <div class="row">
      <div class="col">
      <div class="row">
        <div class="container-fluid">

          <div class="row pane-formulario text-dark" id="formulario">
            <div class="col-md-12">
              <form class="formulario">

                <h2 class="text-center">Crear un médico</h2>

                <div class="justify-content-center row">

                  <img class="img-fluid"  width="50" height="50">


                </div>

                <div class="row">

                  <div class="col-4">
                    <label>Nombre</label>
                  </div>
                  <div class="col-8">
                    <div>
                      <input placeholder="Escribe el nombre aquí..." type="text" class="form-control"  ng-model="medico.nombre">
                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col-4">
                    <label>Apellido</label>
                  </div>
                  <div class="col-8">
                    <div>
                      <input  placeholder="Escribe los apellidos aquí..." type="text" class="form-control"  ng-model="medico.apellido">
                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col-4">
                    <label >Correo electrónico</label>
                  </div>
                  <div class="col-8">
                    <div>
                      <input type="text"  placeholder="Escribe el correo aquí..." class="form-control"  ng-model="medico.apellido">
                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col-4">
                    <label >Contraseña</label>
                  </div>
                  <div class="col-8">
                    <div>
                      <input type="password" placeholder="Escribe una contraseña aquí..." class="form-control"  ng-model="medico.contraseña">
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-4">
                    <label >Especialidad</label>
                  </div>
                  <div class="col-8">
                    <div class="dropdown">
                      <button class="text-dark bg-light btn btn-secondary dropdown-toggle" type="button"
                              data-bs-toggle="dropdown" aria-expanded="false">

                        Dropdown
                      </button>
                      <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button">Action</button></li>
                        <li><button class="dropdown-item" type="button">Another action</button></li>
                        <li><button class="dropdown-item" type="button">Something else here</button></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-4">
                    <label >Hora de inicio</label>
                  </div>
                  <div class="col-8">
                    <div>
                      <input type="time" class="form-control" ng-model="medico.horaInicio">
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-4">
                    <label>Hora de finalización</label>
                  </div>
                  <div class="col-8">
                    <div>
                      <input type="time" class="form-control" ng-model="medico.horaFin">

                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-4">
                    <label >Ciudad de residencia</label>
                  </div>
                  <div class="col-8">
                    <div>
                      <input type="text"  placeholder="Escribe la ciudad aquí..." class="form-control"  ng-model="medico.apellido">
                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col-4">
                    <label >Télefono</label>
                  </div>
                  <div class="col-8">
                    <div>
                      <input type="text"  placeholder="Escribe el télefono aquí..." class="form-control"  ng-model="medico.apellido">
                    </div>
                  </div>
                </div>

                <div class="row justify-content-center">
                  <div class="col-6 text-center">
                    <button type="button" class="btn btnLimpiar">Limpiar</button>
                  </div>
                  <div class="col-6 text-center">
                    <button type="submit" class="btn btnAgregar">Agregar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
       <div class="row pane-formulario paneMedicoActivo">
         <h3 class="text-center text-dark "> Medicos activos </h3>

         <div class="row medicoActivo text-light">

           <div class="col-1">
             <h6>1</h6>
           </div>
           <div class="col-4">
             <h6>Benito Antonio</h6>
           </div>
           <div class="col-4">
             <h6>Martinez Ocasio</h6>
           </div>
           <div class="col-3">
             <img src="./assets/admin/online.png">
           </div>
         </div>
         <div class="row medicoActivo text-light">

           <div class="col-1">
             <h6>1</h6>
           </div>
           <div class="col-4">
             <h6>Benito Antonio</h6>
           </div>
           <div class="col-4">
             <h6>Martinez Ocasio</h6>
           </div>
           <div class="col-3">
             <img src="./assets/admin/online.png">
           </div>
         </div>
         <div class="row medicoActivo text-light">

           <div class="col-1">
             <h6>1</h6>
           </div>
           <div class="col-4">
             <h6>Benito Antonio</h6>
           </div>
           <div class="col-4">
             <h6>Martinez Ocasio</h6>
           </div>
           <div class="col-3">
             <img src="./assets/admin/online.png">
           </div>
         </div>



       </div>

      </div>
      <div class="col pane-formulario tabla-medicos">
        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center text-dark ">Gestionar medicos </h3>
            <table class="table">
              <thead>
              <tr>
                <th scope="col">#id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col">Especialidad</th>
                <th scope="col">inicio</th>
                <th scope="col">fin</th>
                <th scope="col">Opciones</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>benitoa.martinezo@gmail.com</td>
                <td>medicina general</td>
                <td>8:00</td>
                <td>12:00</td>
                <td>
                  <div class="row">

                    <div class="col-2">
                      <button type="button" class="btn btnEditar">
                        <img src="./assets/admin/edit.png" alt="Editar" width="20" height="20">
                      </button>
                    </div>
                    <div class="col-2">
                      <button type="button" class="btn btnEliminar">
                        <img src="./assets/admin/delete.png" alt="Eliminar" width="20" height="20">
                      </button>
                    </div>
                    <div class="col-2">
                      <button type="button" class="btn btnVer">
                        <img src="./assets/admin/eye.png" alt="Ver" width="20" height="20">
                      </button>
                    </div>

                  </div>


                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div>


</div>
