<div class="row text-dark item">

  <div class="col-auto title-item">
    <h4 class="fw-light">1</h4>
  </div>

  <div class="col-auto title-item">
    <h4 class="fw-light">Juan</h4>
  </div>

  <div class="col-auto title-item">
    <h4 class="fw-light">Gomez</h4>
  </div>

  <div class="col-auto title-item">
    <h4 class="fw-light">juan@gomez.com</h4>
  </div>

  <div class="col-auto title-item">
    <h4 class="fw-light">Neurologo</h4>
  </div>

  <div class="col-auto title-item">
    <h4 class="fw-light">7:00 pm</h4>
  </div>

  <div class="col-auto title-item">
    <h4 class="fw-light">7:00 am</h4>
  </div>

  <div class="col-auto">
    <button >
      <img class="btn-opcion" src="./assets/admin/edit.png" alt="editar medico">
    </button>
  </div>
  <div class="col-auto">
    <button >
      <img class="btn-opcion" src="./assets/admin/eye.png" alt="ver medico">
    </button>
  </div>
  <div class="col-auto">
    <button >
      <img class="btn-opcion" src="./assets/admin/delete.png" alt="eliminar medico">
    </button>
  </div>

</div>
