<div id="div-background" class=" container">

  <h3 class="text-center text-dark">Calificaciones de las pqrs</h3>

  <div class=" overflow-x-scroll row flex-nowrap" >

    <app-calificacion-item class="col-auto"></app-calificacion-item>
    <app-calificacion-item class="col-auto"></app-calificacion-item>
    <app-calificacion-item class="col-auto"></app-calificacion-item>
    <app-calificacion-item class="col-auto"></app-calificacion-item>
    <app-calificacion-item class="col-auto"></app-calificacion-item>
    <app-calificacion-item class="col-auto"></app-calificacion-item>
    <app-calificacion-item class="col-auto"></app-calificacion-item>
    <app-calificacion-item class="col-auto"></app-calificacion-item>
    <app-calificacion-item class="col-auto"></app-calificacion-item>
    <app-calificacion-item class="col-auto"></app-calificacion-item>
    <app-calificacion-item class="col-auto"></app-calificacion-item>
    <app-calificacion-item class="col-auto"></app-calificacion-item>
    <app-calificacion-item class="col-auto"></app-calificacion-item>
    <app-calificacion-item class="col-auto"></app-calificacion-item>
    <app-calificacion-item class="col-auto"></app-calificacion-item>

  </div>


</div>
