<div id="div-background">

  <app-navbar-component></app-navbar-component>
  <h1 class="text-light text-center">Crea una cita con un médico</h1>
  <div class="row">

    <div class="col-1">
      <app-lateral-bar></app-lateral-bar>
    </div>
    <div class="col-11">
      <div class="row">

        <div class="col-6">
          <img src="./assets/paciente/persona.png" alt="persona">
        </div>

        <div class="col-6">
          <app-agendar-cita-item></app-agendar-cita-item>
        </div>

      </div>
    </div>
  </div>

</div>
