<h3 class="text-center text-dark "> Medicos activos </h3>

<div class="row medicoActivo text-light">

  <div class="col-1">
    <h6>1</h6>
  </div>
  <div class="col-4">
    <h6>Benito Antonio</h6>
  </div>
  <div class="col-4">
    <h6>Martinez Ocasio</h6>
  </div>
  <div class="col-3">
    <img src="../../../../assets/admin/online.png">
  </div>
</div>
<div class="row medicoActivo text-light">

  <div class="col-1">
    <h6>1</h6>
  </div>
  <div class="col-4">
    <h6>Benito Antonio</h6>
  </div>
  <div class="col-4">
    <h6>Martinez Ocasio</h6>
  </div>
  <div class="col-3">
    <img src="../../../../assets/admin/online.png">
  </div>
</div>
<div class="row medicoActivo text-light">

  <div class="col-1">
    <h6>1</h6>
  </div>
  <div class="col-4">
    <h6>Benito Antonio</h6>
  </div>
  <div class="col-4">
    <h6>Martinez Ocasio</h6>
  </div>
  <div class="col-3">
    <img src="../../../../assets/admin/online.png">
  </div>
</div>
