<div id="div-background"  class="text-dark " >
  <h3 class="text-center"> Medicos activos </h3>


<div class="overflow-y-scroll min-vh-25 vh-100">
  <app-medico-activo-item></app-medico-activo-item>
  <app-medico-activo-item></app-medico-activo-item>
  <app-medico-activo-item></app-medico-activo-item>
  <app-medico-activo-item></app-medico-activo-item>
  <app-medico-activo-item></app-medico-activo-item>
  <app-medico-activo-item></app-medico-activo-item>
  <app-medico-activo-item></app-medico-activo-item>
  <app-medico-activo-item></app-medico-activo-item>
  <app-medico-activo-item></app-medico-activo-item>
  <app-medico-activo-item></app-medico-activo-item>
  <app-medico-activo-item></app-medico-activo-item>
  <app-medico-activo-item></app-medico-activo-item>
  <app-medico-activo-item></app-medico-activo-item>
  <app-medico-activo-item></app-medico-activo-item>
  <app-medico-activo-item></app-medico-activo-item>
</div>



</div>
