#div-background{
  background-color:  #252525;
  height: 1200px;
  /*margin-top: 150px;*/
  /*margin-left: 20px;*/
}

.bi{
  margin-top: 100px;
}

i{
  color: white;
  font-size: 40px;
  margin-left: 10px;
}


i:hover{
  color: #00b0ff;
  cursor: pointer;
}
