<div id="div-background">
  <h2 class="text-center">Tus citas del día</h2>


  <div class="row">

    <h3 class="fw-light text-center">Selecciona el día</h3>
    <div class="dropdown" id="medicos-drop">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Elige el día de tu cita
      </button>
      <ul class="dropdown-menu">
        <li><button class="dropdown-item" type="button">Action</button></li>
        <li><button class="dropdown-item" type="button">Another action</button></li>
        <li><button class="dropdown-item" type="button">Something else here</button></li>
      </ul>
    </div>

  </div>

  <h3 class="fw-light text-center">Detalle de la cita</h3>
  <div class="row" id="detalle-cita">


        <input placeholder="Fecha: 23 de septiembre de 2023">

        <input placeholder="Hora 13:00 13:30">
        <input placeholder="Medico: Juan Carlos Correa">

  </div>
  <div class="row buttons">

    <div class="col-6">
      <button class="btn btn-primary" id="btn-reagendar">Reagendar cita</button>
    </div>
    <div class="col-6">
      <button class="btn btn-primary" id="btn-cancelar">Cancelar cita</button>
    </div>

  </div>
</div>
