<div id="div-background">


  <div class="row text-dark text-center">

    <div class="col-auto">
      <div class="col-auto">
        <img src="./assets/pqrs/circular.png" alt="circulo.png" height="31" width="31">
      </div>
    </div>

    <div class="col-auto">
      <div class="row ">
        <div class="col-auto fw-bold input">
          Médico
        </div>
        <div class="col-auto fw-light input">
          Benito Antonio Martinez Ocasio
        </div>
        <div class="col-auto fw-bold input">
          Consulta
        </div>
        <div class="col-auto fw-light input">
          56
        </div>
      </div>

      <div class="row">

        <div class="col-auto fw-bold input">
          Paciente
        </div>
        <div class="col-auto fw-light input">
          Juan Pablo Montoya
        </div>
        <div class="col-auto fw-bold input fecha">
          Fecha
        </div>
        <div class="col-auto fw-light input ">
          12/12/2021
        </div>
      </div>

    </div>
  </div>

</div>
