<div id="div-background">

  <h2 class="text-center">Tu informacion</h2>

  <div class="row form">

    <input placeholder="Nombre: {{this.userDTO.nombre}}">
    <input placeholder="Fecha de nacimiento: {{this.userDTO.fechaNacimiento}}">
    <input placeholder="email: {{this.userDTO.email}}">
    <input placeholder="ciudad de residencia: {{this.userDTO.ciudadResidencia}}">
    <input placeholder="Telefono: {{this.userDTO.telefono}}">
    <input placeholder="EPS: {{this.userDTO.eps}}">


  </div>
</div>
