<div id="div-background" *ngIf="(userInfo$ | async) as userInfo">

  <h2 class="text-center">Tu informacion</h2>

  <div class="row form">

    <input [(ngModel)]="nombre" type="text" placeholder="Nombre: {{this.userInfo.nombre}}">
    <input [(ngModel)]="fechaNacimiento" type="date"
           placeholder="Fecha de nacimiento: {{this.userInfo.fechaNacimiento}}">
    <input [(ngModel)]="email" type="email" placeholder="email: {{this.userInfo.email}}">

    <!--  CIUDAD   -->
    <div>
      <h4 class="text-center">Selecciona tu ciudad</h4>
      <br>
      <select class="btn btn-secondary" [(ngModel)]="box_ciudad">
        <option value="" selected>Seleccione una ciudad</option>
        <option [value]="element" *ngFor="let element of this.listaCiudades; index as i"> {{element}}</option>
      </select>
    </div>


    <input [(ngModel)]="telefono" type="text" placeholder="Telefono: {{this.userInfo.telefono}}">
    <input placeholder="EPS: {{this.userInfo.eps}}">

    <!-- EPS -->
    <select class="btn btn-secondary" [(ngModel)]="box_eps">
      <option value="" selected>Seleccione una EPS</option>
      <option [value]="element" *ngFor="let element of this.listaEPS; index as i"> {{element}}</option>
    </select>


  </div>
</div>
