<div class="min-vh-100 min-vw-100 background text-light">
  <div class="background text-light">
    <nav class="nav navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center text-light">
          <img src="./assets/index/logoEvovital.svg" alt="Logo" width="30" height="24">
          Evovital
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul id="ul" class="navbar-nav ms-auto mb-2 mb-lg-0 ">
            <li class=" text-light item nav-item button-nav btnInicio">
              <a class="nav-link active" style="color: white" aria-current="page" >inicio</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>




  <main>

    <div class="row">

      <div class="col-5">
        <img src="./assets/register2/person.png" width="800" height="800" alt="logo">
      </div>

      <div class="col-7 form" >

        <h1>Cuéntanos más sobre ti</h1>

        <form class="form">
          <div class="row">
              <h4>¿Tienes alguna alergia?</h4>
              <br>
              <input placeholder="Escribe aquí tu alergia para guardarla">
          </div>
        </form>
        <button class="btn ">  Continuar </button>

      </div>

    </div>




  </main>
</div>




