<div id="div-background">

  <h2 class="text-center">Tu informacion</h2>

  <div class="row form">

    <input placeholder="Nombre: Joaquin Sorolla">
    <input placeholder="Edad: 22 años">
    <input placeholder="Fecha de nacimiento: 30/06/2002">
    <input placeholder="email: joaquinSorolla@gmail.com">
    <input placeholder="constraseña: -----------">
    <input placeholder="ciudad de residencia: Armenia Quindío">
    <input placeholder="Telefono: 3152480873">
    <input placeholder="EPS: Sanitas">


  </div>
</div>
