<div id="div-background" class="text-dark">

  <form class="formulario">

    <h2 class="text-center">Crear un médico</h2>

    <div class="justify-content-center row">

      <img src="./assets/admin/medico.png" id="img-medico" alt="medico">
    </div>

    <div class="row">

      <div class="col-4">
        <label>Nombre</label>
      </div>
      <div class="col-8">
        <div>
          <input placeholder="Escribe el nombre aquí..." type="text" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-4">
        <label>Apellido</label>
      </div>
      <div class="col-8">
        <div>
          <input  placeholder="Escribe los apellidos aquí..." type="text" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-4">
        <label >Correo electrónico</label>
      </div>
      <div class="col-8">
        <div>
          <input type="text"  placeholder="Escribe el correo aquí..." class="form-control" >
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-4">
        <label >Contraseña</label>
      </div>
      <div class="col-8">
        <div>
          <input type="password" placeholder="Escribe una contraseña aquí..." class="form-control">
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-4">
        <label >Especialidad</label>
      </div>
      <div class="col-8">
        <div class="dropdown">
          <button class="text-dark bg-light btn btn-secondary dropdown-toggle form-control" type="button"
                  data-bs-toggle="dropdown" aria-expanded="false">

            Especialidad
          </button>
          <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button">Action</button></li>
            <li><button class="dropdown-item" type="button">Another action</button></li>
            <li><button class="dropdown-item" type="button">Something else here</button></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-4">
        <label >Hora de inicio</label>
      </div>
      <div class="col-8">
        <div>
          <input type="time" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-4">
        <label>Hora de finalización</label>
      </div>
      <div class="col-8">
        <div>
          <input type="time" class="form-control">

        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-4">
        <label >Ciudad de residencia</label>
      </div>
      <div class="col-8">
        <div>
          <input type="text"  placeholder="Escribe la ciudad aquí..." class="form-control">
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-4">
        <label >Télefono</label>
      </div>
      <div class="col-8">
        <div>
          <input type="text"  placeholder="Escribe el télefono aquí..." class="form-control">
        </div>
      </div>
    </div>

    <div class="row justify-content-center buttons">
      <div class="col-6 text-center">
        <button type="button" class="btn btnLimpiar">Limpiar</button>
      </div>
      <div class="col-6 text-center">
        <button type="submit" class="btn btnAgregar" (click)="crearMedico()">Agregar</button>
      </div>
    </div>
  </form>

</div>
