<div id="div-background">

  <h2 class="text-center">Historial de consultas</h2>

  <div class="overflow-y-scroll" id="ultimas-consultas">
    <app-ultimas-consultas-item></app-ultimas-consultas-item>
    <app-ultimas-consultas-item></app-ultimas-consultas-item>
    <app-ultimas-consultas-item></app-ultimas-consultas-item>
    <app-ultimas-consultas-item></app-ultimas-consultas-item>
    <app-ultimas-consultas-item></app-ultimas-consultas-item>
    <app-ultimas-consultas-item></app-ultimas-consultas-item>
    <app-ultimas-consultas-item></app-ultimas-consultas-item>
    <app-ultimas-consultas-item></app-ultimas-consultas-item>
    <app-ultimas-consultas-item></app-ultimas-consultas-item>
    <app-ultimas-consultas-item></app-ultimas-consultas-item>
    <app-ultimas-consultas-item></app-ultimas-consultas-item>
    <app-ultimas-consultas-item></app-ultimas-consultas-item>
    <app-ultimas-consultas-item></app-ultimas-consultas-item>
    <app-ultimas-consultas-item></app-ultimas-consultas-item>
    <app-ultimas-consultas-item></app-ultimas-consultas-item>
    <app-ultimas-consultas-item></app-ultimas-consultas-item>
    <app-ultimas-consultas-item></app-ultimas-consultas-item>
    <app-ultimas-consultas-item></app-ultimas-consultas-item>
    <app-ultimas-consultas-item></app-ultimas-consultas-item>
  </div>

  <app-detalle-consulta-medico></app-detalle-consulta-medico>
</div>
