<div id="div-background">

  <h2 class="text-center text-dark">Consultas del médico</h2>

  <div class="accordion" id="accordionExample">
    <app-consulta-item></app-consulta-item>
    <app-consulta-item></app-consulta-item>
    <app-consulta-item></app-consulta-item>
    <app-consulta-item></app-consulta-item>
    <app-consulta-item></app-consulta-item>
    <app-consulta-item></app-consulta-item>
    <app-consulta-item></app-consulta-item>
    <app-consulta-item></app-consulta-item>
    <app-consulta-item></app-consulta-item>
    <app-consulta-item></app-consulta-item>
    <app-consulta-item></app-consulta-item>
  </div>



</div>
