<div id="div-background">

  <h3 class="text-dark text-center"> Consulta </h3>

  <form>

    <div class="row">
      <div class="col-3">
        <h5> Paciente </h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h5> Estado </h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h5> Tratamiento </h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h5> Fecha de creación </h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h5> Motivo </h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h5> Notas médicas </h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h5>Fecha de asignación </h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h5> Sintomas </h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h5> Diagnóstico</h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h5> Hora de Atención </h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>


  </form>

  <button class="btn btn-primary">Cerrar pqr</button>

</div>
