<div id="div-background">

  <h3 class="text-dark text-center"> Consulta </h3>

  <form>

    <div class="row">
      <div class="col-3">
        <h5 class="fw-light"> Paciente </h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h5 class="fw-light"> Estado </h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h5 class="fw-light"> Tratamiento </h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h5 class="fw-light">  Fecha de creación </h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h5 class="fw-light"> Motivo </h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h5 class="fw-light"> Notas médicas </h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h5 class="fw-light">Fecha de asignación </h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h5 class="fw-light"> Sintomas </h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h5 class="fw-light"> Diagnóstico</h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <h5  class="fw-light"> Hora de Atención </h5>
      </div>
      <div class="col-6">
        <input type="text" class="form-control disabled" value="Juan Carlos correa">
      </div>
    </div>


  </form>

  <button class="btn btn-primary">Cerrar pqr</button>

</div>
