#div-background{

  background-color: white;
  height: 300px;
  border-radius: 10px;
  margin-right: 40px;
  margin-top: 40px;
}

h2{
  color: rgb(253, 119, 35);
  padding-top: 10px;
}

#scroll{

  max-width: 1700px;
  min-width: 1700px;
  max-height: 200px;
  min-height: 200px;
  margin-left: 40px;
}
