<div id="div-background">

  <h2 class="text-center">Tus pqrs activas</h2>

  <div class="overflow-x-scroll row flex-nowrap" id="scroll">
    <app-pqr-item-paciente class="col-auto"></app-pqr-item-paciente>
    <app-pqr-item-paciente class="col-auto"></app-pqr-item-paciente>
    <app-pqr-item-paciente class="col-auto"></app-pqr-item-paciente>
    <app-pqr-item-paciente class="col-auto"></app-pqr-item-paciente>
    <app-pqr-item-paciente class="col-auto"></app-pqr-item-paciente>
    <app-pqr-item-paciente class="col-auto"></app-pqr-item-paciente>
    <app-pqr-item-paciente class="col-auto"></app-pqr-item-paciente>
    <app-pqr-item-paciente class="col-auto"></app-pqr-item-paciente>
    <app-pqr-item-paciente class="col-auto"></app-pqr-item-paciente>
    <app-pqr-item-paciente class="col-auto"></app-pqr-item-paciente>
    <app-pqr-item-paciente class="col-auto"></app-pqr-item-paciente>
    <app-pqr-item-paciente class="col-auto"></app-pqr-item-paciente>
  </div>
</div>
