<div id="div-background">

  <i class="bi bi-pencil text-center"></i>
  <h3 class="text-center"> Detalle consulta</h3>

  <div class="form">

    <div class="row">

      <div class="col-6">
        <h3 class="fw-semibold text"> Id</h3>
      </div>
      <div class="col-6">
        <h3 class="fw-light text">{{cita == null ? ""  :cita.idConsulta}}</h3>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <h3 class="fw-semibold text"> Fecha de la cita</h3>
      </div>
      <div class="col-6">
        <h3 class="fw-light text">{{cita == null ? ""  :cita.fechaYHoraAtencion.toString().split("T")[0]}}</h3>
      </div>

    </div>
    <div class="row">

      <div class="col-6">
        <h3 class="fw-semibold text"> Hora de la cita</h3>
      </div>
      <div class="col-6">
        <h3 class="fw-light text">{{ cita == null ? ""  : cita.fechaYHoraAtencion.toString().split("T")[1]}}</h3>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <h3 class="fw-semibold text">Paciente</h3>
      </div>
      <div class="col-6">
        <h3 class="fw-light text">{{paciente}}</h3>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <h3 class="fw-semibold text">Motivo</h3>
      </div>
      <div class="col-6">
        <h3 class="fw-light text">{{cita == null ? ""  :cita.motivo}}</h3>
      </div>

    </div>

  </div>

</div>
