<div id="div-background">

  <h2 class="text-center text-dark">Informacion del paciente</h2>

  <div class="form">

    <div class="row">

      <div class="col-6">
        <h3 class="text-dark fw-semibold text">Id</h3>
      </div>
      <div class="col-6">
        <h3 class="text-dark fw-light text">1</h3>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <h3 class="text-dark fw-semibold text">Nombre</h3>
      </div>
      <div class="col-6">
        <h3 class="text-dark fw-light text">José Alejandro</h3>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <h3 class="text-dark fw-semibold text">Apellidos</h3>
      </div>
      <div class="col-6">
        <h3 class="text-dark fw-light text">Arias Pinzón</h3>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <h3 class="text-dark fw-semibold text">Ciudad residencia</h3>
      </div>
      <div class="col-6">
        <h3 class="text-dark fw-light text">Bogotá, DC</h3>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <h3 class="text-dark fw-semibold text">Télefono</h3>
      </div>
      <div class="col-6">
        <h3 class="text-dark fw-light text">+573152480873</h3>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <h3 class="text-dark fw-semibold text">Fecha de nacimiento</h3>
      </div>
      <div class="col-6">
        <h3 class="text-dark fw-light text">30 de junio de 2002</h3>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <h3 class="text-dark fw-semibold text">Alergias</h3>
      </div>
      <div class="col-6">
        <h3 class="text-dark fw-light text">Ninguna</h3>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <h3 class="text-dark fw-semibold text">EPS</h3>
      </div>
      <div class="col-6">
        <h3 class="text-dark fw-light text">SURA</h3>
      </div>

    </div>


  </div>

</div>
