<div id="div-background">

  <h2 class="text-center text-dark">Informacion del paciente</h2>

  <div class="form">


    <div class="row">

      <div class="col-6">
        <h3 class="text-dark fw-semibold text">Nombre</h3>
      </div>
      <div class="col-6">
        <h3 class="text-dark fw-light text">{{paciente.nombre}}</h3>
      </div>

    </div>


    <div class="row">

      <div class="col-6">
        <h3 class="text-dark fw-semibold text">Tipo de sangre</h3>
      </div>
      <div class="col-6">
        <h3 class="text-dark fw-light text">{{paciente.tipoSangre}}</h3>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <h3 class="text-dark fw-semibold text">Ciudad residencia</h3>
      </div>
      <div class="col-6">
        <h3 class="text-dark fw-light text">{{paciente.ciudadResidencia}}</h3>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <h3 class="text-dark fw-semibold text">Télefono</h3>
      </div>
      <div class="col-6">
        <h3 class="text-dark fw-light text">{{paciente.telefono}}</h3>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <h3 class="text-dark fw-semibold text">Fecha de nacimiento</h3>
      </div>
      <div class="col-6">
        <h3 class="text-dark fw-light text">{{paciente.fechaNacimiento}}</h3>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <h3 class="text-dark fw-semibold text">Alergias</h3>
      </div>
      <div class="col-6">
        <h3 class="text-dark fw-light text">{{paciente.alergias}}</h3>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <h3 class="text-dark fw-semibold text">EPS</h3>
      </div>
      <div class="col-6">
        <h3 class="text-dark fw-light text">{{paciente.eps}}</h3>
      </div>

    </div>


  </div>

</div>
