<div class="row" id="div-background">

  <h2 class="text-center">Citas asignadas</h2>

  <div class="row">

      <div class="col-lg-3 col-md-3 col-sm-3">Número de cita</div>
      <div class="col-lg-3 col-md-3 col-sm-3">Fecha de la cita</div>
      <div class="col-lg-3 col-md-3 col-sm-3">Paciente</div>
      <div class="col-lg-3 col-md-3 col-sm-3">Opciones</div>

  </div>

  <div id="carrousel">

    
    <app-cita-item *ngFor="let cita of citas; track item; let  i = index" [cita]="cita" class="row" [index]="i"
            (click)="mostrarDetalle()"></app-cita-item>
    
  </div>

</div>
