<div class="container-fluid " id="div-background">

  <app-navbar-component></app-navbar-component>

  <h1 class="text-center text-light"> Consulta </h1>

  <div class="row">

    <div class="col-6">
      <app-info-paciente></app-info-paciente>
    </div>

    <div class="col-6">
      <app-resumen-consulta></app-resumen-consulta>
    </div>

  </div>

  <div class="row">
    <app-historia-clinica></app-historia-clinica>
  </div>

  <div class="row buttons">

    <div class="col-6">
      <button class="btn btn-danger"> Cancelar consulta</button>
    </div>

    <div class="col-6">
      <button class="btn btn-success"> Finalizar consulta</button>
    </div>
  </div>
</div>
