<div class="container-fluid vh-100" id="div-background">

  <app-navbar-component></app-navbar-component>

  <h1 class="text-center text-light"> Consulta </h1>

  <div class="row">
    <app-info-paciente [paciente]="paciente"></app-info-paciente>
  </div>
    

    <div class="row">
      <app-resumen-consulta></app-resumen-consulta>
    </div>

  
  <div class="row justify-content-center" id="buttons">

    <div class="col-6 text-center">
      <button class="btn btn-danger" (click)="cancelarConsulta()"> Cancelar consulta</button>
    </div>

    <div class="col-6 text-center" >
      <button class="btn btn-success" (click)="finalizarConsulta()"> Finalizar consulta</button>
    </div>

  </div>

</div>
