<div id="div-background" >
  <h3 class="text-center text-dark ">Gestionar médicos </h3>

  <div class="text-center title row">

    <div class="col-auto title-item">
      <h4 class="fw-light">id</h4>
    </div>

    <div class="col-auto title-item">
      <h4 class="fw-light">Nombre</h4>
    </div>

    <div class="col-auto title-item">
      <h4 class="fw-light">Apellido</h4>
    </div>

    <div class="col-auto title-item">
      <h4 class="fw-light">Correo</h4>
    </div>

    <div class="col-auto title-item">
      <h4 class="fw-light">Especialidad</h4>
    </div>

    <div class="col-auto title-item">
      <h4 class="fw-light">Inicio de turno</h4>
    </div>

    <div class="col-auto title-item">
      <h4 class="fw-light">Fin de turno</h4>
    </div>

    <div class="col-auto title-item">
      <h4 class="fw-light">Opciones</h4>
    </div>

  </div>

  <div class="overflow-y-scroll min-vh-25 vh-100">
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
    <app-medico-item></app-medico-item>
  </div>




</div>
