<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
      Consulta nro 1
    </button>
  </h2>
  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>
        El paciente Juan Carlos Correa, completó la consulta nro 1, el tratamiento fue un acetaminofén de 500mg.
        La fecha de creación fue el 12/12/2020 y el motivo de la consulta fue un dolor de cabeza.
        Las notas médicas fueron: "El paciente se encuentra con un dolor de cabeza muy fuerte, se le receta un acetaminofén de 500mg".
        La fecha de asignación fue el 12/12/2020. Sintomas del paciente: Dolor de cabeza.
        Hora de inicio de la consulta: 12:00hs. Hora de finalización de la consulta: 12:30hs.
        El diagnóstico fue: Dolor de cabeza. El médico que atendió la consulta fue: Dr. Juan Carlos Correa.

      </p>
    </div>
  </div>
</div>
