.background{
  background-color: #69bed8;
}

.form-div{
  margin-right: 5rem;
  padding: 30px 20px;

}


h4{
  margin-top: 2rem;
  font-weight: bold;
  color: #000000;
}

input{
  background-color: #ffffff;
  border-bottom-color: #ffffff;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  margin-top: 2rem;
  color: black;

}





.badges{
  margin-top: 1rem;
}

.btn-terminar{

  margin-top: 30px;
  background-color: rgb(228, 138, 32);
  font-size: 2vh;
  color: white;
  box-shadow: 5px 10px 0 0 rgb(255, 255, 255);
  border-radius: 20px;
}


.pane-row{
  margin-top: 100px;
}

.dropdown{
  margin-top: 1rem;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
  font-size:  1.5rem;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}

.combo{
 background-color: rgb(255, 255, 255);
 color: black;
}

.combo option{
  color: black;
}

#choice-photo input{
  background-color: transparent;
}