<div class="min-vh-100 min-vw-100 background text-light">
  <app-navbar></app-navbar>

  <div class="row pane-row">

    <div class="col-5">
      <img src="../../../../assets/register2/person.png" width="800" height="800" alt="logo">
    </div>

    <div class="col-7 form text-center">

      <div class="form-div">
        <h1 class="text-center">Cuéntanos más sobre ti</h1>

        <form class="form">
          <div class="row">
            <h4>¿Tienes alguna alergia?</h4>
            <input [(ngModel)]="inputValue" name="inputValue" (keyup.enter)="agregarAlergiaOnEnter()"
                   placeholder="Escribe aquí tu alergia para guardarla">
          </div>
          <br>

          <app-alergia *ngFor="let element of listaAlergias" [mensaje]=element></app-alergia>


          <!-- IMAGE  -->
          <div class="text-center">
            <h4>Sube tu foto de perfil</h4>
            <input type="file" name="file" id="file" (change)="onFileChange($event)" class="inputfile"/>
          </div>

        </form>

      </div>

      <!-- CHOICEBOX DE CIUDAD -->
      <div>
        <h4 class="text-center">Selecciona tu ciudad</h4>
        <br>
        <select class="btn btn-secondary" [(ngModel)]="box_ciudad">
          <option value="" selected>Seleccione una ciudad</option>
          <option [value]="element" *ngFor="let element of this.listaCiudades; index as i"> {{element}}</option>

        </select>
      </div>


      <!-- CHOISEBOX DE EPS -->
      <div>
        <h4 class="text-center">Selecciona tu EPS</h4>
        <br>
        <select class="btn btn-secondary" [(ngModel)]="box_eps">
          <option value="" selected>Seleccione una EPS</option>
          <option [value]="element" *ngFor="let element of this.listaEPS; index as i"> {{element}}</option>
        </select>

        <br>


        <!-- CHOISEBOX DE EPS -->
        <div>
          <h4 class="text-center">Tipo de sangre</h4>
          <br>
          <select class="btn btn-secondary" [(ngModel)]="box_tipoSangre">
            <option value="" selected>Seleccione tipo de sangre</option>
            <option [value]="element" *ngFor="let element of this.listaTipoSangre; index as i"> {{element}}</option>
          </select>

          <br>


          <button class=" btn btn-terminar" (click)="registrar()"> Finalizar</button>
          <br>
          <br>
          <br>


        </div>
      </div>
    </div>
  </div>
</div>
