<div class="row" id="container" >

    <h3 class="text-center">Tus citas anteriores</h3>

    <div class="">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Estado consulta</th>
                    <th>Motivo</th>
                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let cita of citas">
                    <td>{{ cita.fechaYHoraAtencion.toString().split("T")[0] }}</td>
                    <td>{{ cita.fechaYHoraAtencion.toString().split("T")[1].split(":")[0] 
                                +":"+ cita.fechaYHoraAtencion.toString().split("T")[1].split(":")[1]}}</td>
                    <td>{{cita.estadoConsulta}}</td> 
                    <td>{{cita.motivo}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>

</div>