<div class="row" id="container" >

    <h3 class="text-center">Tus citas anteriores</h3>

    <div class="">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Metodo de pago</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>11/12/24</td>
                    <td>15:00</td>
                    <td>Tarjeta</td>
                    <td>Estoy enfermo</td>
                </tr>
                <tr >
                    <td>11/12/24</td>
                    <td>15:00</td>
                    <td>Tarjeta</td>
                    <td>Estoy enfermo</td>
                </tr>
                <tr >
                    <td>11/12/24</td>
                    <td>15:00</td>
                    <td>Tarjeta</td>
                    <td>Estoy enfermo</td>
                </tr>
                <tr >
                    <td>11/12/24</td>
                    <td>15:00</td>
                    <td>Tarjeta</td>
                    <td>Estoy enfermo</td>
                </tr>
                <tr >
                    <td>11/12/24</td>
                    <td>15:00</td>
                    <td>Tarjeta</td>
                    <td>Estoy enfermo</td>
                </tr>
                
            </tbody>
        </table>
    </div>

</div>