<div class="row" id="container" >

    <h3 class="text-center">Tus citas anteriores</h3>

    <div class="">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Metodo de pago</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let cita of citas">
                    <td>{{cita.fechaYHoraAtencion }}</td>
                    <td>{{cita.fechaYHoraAtencion}}</td>
                    <td>{{cita.metodoDePago}}</td>
                    <td>{{cita.estadoConsulta}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>

</div>